ul {
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
  font-size: 1.5vw;
}
ul li {
  list-style-type: none;
  padding-top: 1vw;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 0.5vw;
  width: 9vw;
  height: 9vw;
  color: #000000;
  font-family: Century Gothic;
}

.cell:hover {
  background-color: #ccc;
}

.gameModal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #2f3542;
}

.gameContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.historyModal {
  display: none;
  position: fixed;
  left: 70vw;
  bottom: 18vw;
  width: 20vw;
  height: 50vh;
  background-color: #2f3542;
}

.historyContent {
  bottom: 18vw;
  left: 70vw;
  width: 20vw;
  height: 50vh;
}

#gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  font-weight: bold;
  width: 32vw;
  height: 100vh;
  flex-direction: column;
}

#board {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  width: 29vw;
}

#status {
  padding: 2vw;
  font-size: 2vw;
  font-family: Century Gothic;
}

#restart {
  padding: 0.2vw 2vw;
  font-size: 2vw;
  font-family: Century Gothic;
  border-radius: 1vw;
  border: none;
  cursor: pointer;
}

#historyTitle {
  display: flex;
  font-family: Century Gothic;
  font-size: 0.5vw;
  padding-top: 2vw;
  cursor: pointer;
}

#historyTitle:active {
  color: #f1dac4;
}

#buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 29vw;
}

#previous {
  padding: 0.2vw 2vw;
  font-size: 2vw;
  font-family: Century Gothic;
  border-radius: 1vw;
  border: none;
  cursor: pointer;
}

#next {
  padding: 0.2vw 2vw;
  font-size: 2vw;
  font-family: Century Gothic;
  border-radius: 1vw;
  border: none;
  cursor: pointer;
}

@keyframes bounce {
  100% {
    top: -4vw;
  }
}
.modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #2f3542;
}

.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.symbols {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-family: Century Gothic;
  font-size: 5vw;
  width: 20vw;
}
.symbols h1 {
  position: relative;
  display: inline-block;
  margin: 0;
  cursor: pointer;
}
.symbols h1:hover {
  animation: bounce 0.3s ease infinite alternate;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  font-weight: bold;
  width: 32vw;
  height: 50vh;
  flex-direction: column;
}

#introTitle {
  font-family: Century Gothic;
  font-size: 2vw;
}

#oSymbol {
  margin-bottom: 2vw;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2f3542;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#title {
  position: relative;
  display: inline-block;
  font-family: Century Gothic;
  font-size: 5vw;
}

#playButton {
  padding: 0.2vw 2vw;
  font-size: 2vw;
  font-family: Century Gothic;
  border-radius: 1vw;
  border: none;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */